---
suffix: __CHANGE_ME__
location: __CHANGE_ME__
environment: __CHANGE_ME__
arm_subscription_id: __CHANGE_ME__
devcontainer_acr_name: __CHANGE_ME__
local_mode: false

data_source_connections:
  - example:
    name: __CHANGE_ME__
    peering: # Optional
      virtual_network_name: __CHANGE_ME__
      resource_group_name: __CHANGE_ME__
    connection_string: postgresql://<hostname>:5432/<database-name>?user=<username>&password=<***>
