#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
# limitations under the License.
---
name: Make command

on:
  workflow_call:
    inputs:
      command:
        type: string
        required: true
        description: Make command to run e.g bootstrap
      environment:
        type: string
        required: true
        description: The GitHub environment in which to run
      prefix_override:
        type: string
        required: false
        description: An override for the naming prefix
      sha:
        type: string
        required: false
        description: Commit SHA to override the default GitHub checkout
    secrets:
      AZURE_CREDENTIALS:
        required: true
      DEVCONTAINER_ACR_NAME:
        required: true
      PREFIX:
        required: true
      LOCATION:
        required: true

jobs:
  make_command:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          # if the following values are missing (i.e. not triggered via comment workflow)
          # then the default checkout will apply
          ref: ${{ inputs.sha }}

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: ACR Login
        id: acr_login
        continue-on-error: true
        run: |
          az acr login --name "${{ secrets.DEVCONTAINER_ACR_NAME }}"

      - name: Build and run dev container task
        uses: devcontainers/ci@v0.2
        with:
          imageName: "${{ secrets.DEVCONTAINER_ACR_NAME }}.azurecr.io/flowehr/devcontainer"
          cacheFrom: "${{ secrets.DEVCONTAINER_ACR_NAME }}.azurecr.io/flowehr/devcontainer"
          imageTag: ${{ inputs.environment }}
          runCmd: make ${{ inputs.command }}
          # Only push the devcontainer if this workflow is triggered from a push to main
          # and if the ACR login has succeeded
          refFilterForPush: refs/heads/main
          push: ${{ steps.acr_login.outcome == 'success' && 'filter' || 'never'  }}
          env: |
            DOCKER_BUILDKIT=1
            TF_INPUT=0
            TF_IN_AUTOMATION=1
            ARM_CLIENT_ID=${{ fromJSON(secrets.AZURE_CREDENTIALS).clientId }}
            ARM_CLIENT_SECRET=${{ fromJSON(secrets.AZURE_CREDENTIALS).clientSecret }}
            ARM_TENANT_ID=${{ fromJSON(secrets.AZURE_CREDENTIALS).tenantId }}
            ARM_SUBSCRIPTION_ID=${{ fromJSON(secrets.AZURE_CREDENTIALS).subscriptionId }}
            PREFIX=${{ (inputs.prefix_override != '' && inputs.prefix_override) || secrets.PREFIX }}
            LOCATION=${{ secrets.LOCATION }}
            ENVIRONMENT=${{ inputs.environment }}
            DEVCONTAINER_ACR_NAME=${{ secrets.DEVCONTAINER_ACR_NAME }}
